{{template "base" .}} {{define "BodyClass"}}has-navbar-vertical-aside navbar-vertical-aside-show-xl footer-offset{{end}}
{{define "css"}}
{{end}} {{define "content"}}

{{template "_buyer_header" .}}

{{end}} {{define "js"}}


{{ end }}
